html, body {
	padding: 0px;
	margin: 0px;
	height:100%;
}

div.bg {
    background: url('img/cloudBG.jpg');
    background-size: cover;
    position: absolute;
    height: 300px;
    top: 0;
    left: 0;
}

div.container	{
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.container img {
    width: 200px;
    margin-top:50%;
}
