html, body {
	padding: 0px;
	margin: 0px;
	height:100%;
}

.bg {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.bg1 {
    background: url('img/voronz.jpg');
}

.bg2 {
    background: url('img/cloudBG.jpg');
}

.bg3 {
    background: url('img/kapooBG.jpg');
}

.bg4 {
    background: url('img/lostforeverBG.jpg');
}

.bg5 {
    background: url('img/cloudBG.jpg');
}

div.container	{
    width: 200px;
    margin: 0 auto;
    position: relative;
}

.container img {
    width: 200px;
    margin-top:50%;
}

	.buttonContainer {
		cursor: pointer;
		}

	.sliderButton {
		display: inline-block;
		height: 10px;
		width: 10px;
		border-radius: 5px;
		background-color: rgba(255,255,255,.5);
	}

		.sliderButton:hover {
			background-color: rgba(255,255,255,1);
		}

		
